.clearfix{
    overflow: auto;
}
.clearfix::after{
  content: "";
  clear: both;
  display: table;
}
.sidebar{
  float: left;
  background-color: lightgray;
}
.main{
  width: 70%;
}
.article-preview-box{
  background-color: #ffdead;
}
